ansible/roles/n8n/templates/telegram-claude-workflow.json.j2
{
  "name": "Telegram Claude Bot",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [250, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-ai-hub",
          "name": "Telegram Bot - AI Hub"
        }
      }
    },
    {
      "parameters": {
        "command": "claude --print -p \"$(echo '{{ '{{' }} Buffer.from($json.message.text).toString(\"base64\") {{ '}}' }}' | base64 -d)\"",
        "cwd": "/home/{{ ai_hub_user }}"
      },
      "id": "ssh-claude",
      "name": "Run Claude CLI",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [500, 300],
      "credentials": {
        "sshPassword": {
          "id": "ssh-ai-hub-host",
          "name": "SSH - AI Hub Host"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ '{{' }} $('Telegram Trigger').item.json.message.chat.id {{ '}}' }}",
        "text": "={{ '{{' }} $json.stdout {{ '}}' }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-send",
      "name": "Send Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [750, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-ai-hub",
          "name": "Telegram Bot - AI Hub"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Run Claude CLI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Claude CLI": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "ai-hub-telegram-bot"
  },
  "tags": []
}
